# Add True HA
applications:
  manila-ganesha:
    options:
      vip: '{{ OS_VIP00 }}'
  hacluster:
    charm: cs:~openstack-charmers-next/hacluster
    num_units: 0
relations:
- - manila-ganesha
  - hacluster
